<div id="circularMenu" class="circular-menu">

  <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
    <i class="fa fa-plus"></i>
  </a>

  <menu class="items-wrapper">
    <a href="https://github.com/JacoobH" class="menu-item fa fa-github"></a>
    <a href="https://twitter.com/BFNJacob" class="menu-item fa fa-twitter"></a>
    <a href="https://www.facebook.com/profile.php?id=100022924343573" class="menu-item fa fa-facebook"></a>
    <a href="https://www.instagram.com/jnoideal" class="menu-item fa fa-instagram"></a>
  </menu>

</div>


<div id="circularMenu1" class="circular-menu circular-menu-left active">

  <a class="floating-btn" onclick="document.getElementById('circularMenu1').classList.toggle('active');">
    <i class="fa fa-bars"></i>
  </a>

  <menu class="items-wrapper">
    <a routerLink="/mainPage" class="menu-item fa fa-home"></a>
    <a routerLink="/signForm" class="menu-item fa fa-user"></a>
    <a routerLink="/manage" class="menu-item fa fa-pie-chart"></a>
    <a href="#" class="menu-item fa fa-cog"></a>
  </menu>

</div>
