<div class="container-fluid">

  <div class="row">
    <div *ngIf="article" id="article" class="col-md-12">

      <div class="box" id="title">
        <div class="inner">
          <span>{{article.title}}</span>
        </div>
        <div class="inner">
          <span>{{article.title}}</span>
        </div>
      </div>

      <article>
        {{article.content}}
      </article>
      <button routerLink="/detail/{{article.id-1}}" class="btn striped-shadow white"><span>上一篇</span></button>
      <button routerLink="/detail/{{article.id+1}}" class="btn striped-shadow white"><span>下一篇</span></button>
    </div>
  </div>
  <div class="row">
    <div *ngIf="article" id="comment" class="col-md-10 offset-2">
      <app-comment [article] = "article"></app-comment>
    </div>
  </div>
</div>


