

<div class="paper" *ngIf="article">
  <div class="paper-content">

    <input class="action-bar"
           type="text"
           placeholder="请输入标题..."
           [(ngModel)]="article.title"
           autofocus/>

    <button class="submit" (click)="submit()">
      <i class="fa fa-paper-plane" aria-hidden="true"></i> 发表
    </button>

    <textarea [(ngModel)]="article.content"></textarea>

  </div>
</div>

<!--<app-tag *ngIf="article" [article]="article"></app-tag>-->
<!--<footer>-->
  <!--Inspired by a <a href="https://dribbble.com/shots/2126836-Inch-x-Inch-Sneak-Peek-2" target="_blank">Dribble</a> by Allan Peters-->
<!--</footer>-->
